<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>test</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LogFilter</filter-class>
        <init-param>
            <param-name>User</param-name>
            <param-value>heylee</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>listener.ListenerTest</listener-class>
    </listener>

    <!--&lt;!&ndash; servlet 定义 &ndash;&gt;-->
    <!--<servlet>-->
    <!--<servlet-name>ErrorHandler</servlet-name>-->
    <!--<servlet-class>servlet.ErrorHandler</servlet-class>-->
    <!--</servlet>-->
    <!--&lt;!&ndash; servlet 映射 &ndash;&gt;-->
    <!--<servlet-mapping>-->
    <!--<servlet-name>ErrorHandler</servlet-name>-->
    <!--<url-pattern>/ErrorHandler</url-pattern>-->
    <!--</servlet-mapping>-->

    <error-page>
        <error-code>404</error-code>
        <location>/pages/error/404_2.html</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/pages/error/404_2.html</location>
    </error-page>

</web-app>
